app = "obamacares"
primary_region = "sjc"

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[env]
  DASHBOARD_BASE_URL = "https://obamacares.fly.dev"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
